<div>
    <h1><%= @company.name %></h1>
</div>

<div class="container">
    <div class="card" style="width: 30rem;">
        <iframe 
            src="https://www.google.com/maps/embed/v1/place?key=<%=Rails.application.credentials.google_maps_api_key%>&q=<%=@company.location%>"
            allowfullscreen>
        </iframe>
        <div class="card-body">
            <p class="card-text"><b><%= @company.name.capitalize %></b> is part of <b> <%=@company.conglomerate.name%></b>, 
            having as subdomain <b> <%= @company.subdomain %> </b>
            and <b><%=pluralize(@company.employees_number, 'employee')%></b>...</p>
        </div>
    </div>
</div>