<!DOCTYPE html>
<html>
  <head>
    <title>NicChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    <div class="container text-center">
    <nav class="navbar fixed-bottom navbar-light bg-light navbar-text">
      made with :love:
    </nav>
  </div>
  </footer>
</html>
